{% extends 'base.html' %}
{% load static %}

{% block banner %}

<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<br><br>
		<h2 class="header materialize-red-text center">Categories</h2>
		<h5 class="header col s12 light center">Start engaging yourselves by choosing among these categories.</h5>
	</div>
</div>

{% endblock %}


{% block content %}
<div class="section">
	<h4>Categories</h4>
	<div class="divider"></div>
</div>
<div class="row">
{% for category in categories %}
    <div class="col s12 m4">
      <a href="{% url 'category-courses' category.slug %}">
      <div class="card-panel red center-align white-text">
        <i class="material-icons small">{{ category.icon }}</i>
        <h5><b>{{ category.title }}</b></h5>
      </div>
      </a>
    </div>
{% endfor %}
</div>

{% endblock %}