
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Coursescape</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
  </style>
</head>
<body>

  <nav class="red darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a href="{% url 'index' %}" class="brand-logo"><i class="material-icons large">timeline</i>Coursescape</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large pulse"><i class="material-icons left">menu</i>Menu{% if directs_count %}<sup><span class="material-icons orange-text">feedback</span></sup>{% endif %}</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons left">menu</i>Menu{% if directs_count %}<sup><span class="material-icons orange-text">feedback</span></sup>{% endif %}</a></li>
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        {% if nav_profile.banner %}
          <img src="{{ nav_profile.banner.url }}">
        {% else %}
          <img src="{% static 'img/nobanner.jpg' %}">
        {% endif %}
      </div>
      <a href="#user">
      {% if nav_profile.picture %}
        <img src="{{ nav_profile.picture.url }}" class="circle responsive-img">
      {% else %}
        <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
      {% endif %} 
      </a>
      <a href="#name"><span class="black-text name"><h6>{{ nav_profile.user.first_name }} {{ nav_profile.user.last_name }}</h6></span></a>
      <a href="#email"><span class="black-text email"><p style="text-transform: lowercase; margin-top: 5px; margin-bottom: -5px;">{{ nav_profile.user.email }}</p></span></a>
    </div>
    </li>
    {% if teacher_mode == True %}
    <li><a class="subheader">Teacher</a></li>
    <li><div class="divider"></div></li>
    <li><a href="{% url 'profile' nav_profile.user.username %}"><i class="material-icons">person</i>Profile</a></li>
    <li><a href="{% url 'index' %}"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="{% url 'categories' %}"><i class="material-icons">menu_book</i>Categories</a></li>
    <li><a href="{% url 'inbox' %}"><i class="material-icons">inbox</i>Inbox{% if directs_count %}<span class="new badge red">{{ directs_count }}</span>{% endif %}</a></li>
    <li><a href="{% url 'calculator' %}"><i class="material-icons">chrome_reader_mode</i>Calculator</a></li>
    {% else %}
    <li><a class="subheader">Student</a></li>
    <li><div class="divider"></div></li>
    <li><a href="{% url 'profile' nav_profile.user.username %}"><i class="material-icons">person</i>Profile</a></li>
    <li><a href="{% url 'index' %}"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="{% url 'student-course' %}"><i class="material-icons">menu_book</i>Courses</a></li>
    <li><a href="{% url 'inbox' %}"><i class="material-icons">inbox</i>Inbox{% if directs_count %}<span class="new badge red">{{ directs_count }}</span>{% endif %}</a></li>
    <li><a href="{% url 'calculator' %}"><i class="material-icons">chrome_reader_mode</i>Calculator</a></li>
    {% endif %}
    <li><div class="divider"></div></li>
    <li><a href="{% url 'logout' %}"><i class="material-icons">power_off</i>Log out</a></li>
  </ul>
  

    {% block banner %}

    {% endblock %}



<div class="container">
  <div class="section">
    {% block content %}
    {% endblock %}
  </div>
  </div>
  <br>
  <br>



  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Coursescape</h5>
          <p class="white-text text-lighten-4">This web application was developed by 5 students aiming for helping their future generations on how they should cope and handle their mental stress during COVID-19 pandemic through the use of the courseware system.</p>


        </div>
        <div class="col l3 s12 dev">
          <h5 class="white-text">Developers</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/joycesayson/">Joyce Emmanuelle Sayson</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/alfred-brix-dames-a8b911240/">Alfred Brix Dames</a></li>
            <li><a class="white-text" href="https://www.facebook.com/shawnlouis.martin">Shawn Louis Martin</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/gurmilap-singh/">Gurmilap Singh</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/johnmichael-sunga-b64581239/">John Michael Sunga</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
  {% block javascript %}
  
  {% endblock %}

  </body>
  </html>